/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 1.25rem 3.75rem
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.75rem;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
}

body {
  font-family: 'Lato', 'Arial';
  background-color: #fff;
  color: #1a1a1a;
  line-height: 1.6;
  /*padding-bottom: 100px;*/
}

.Curriculum {
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  max-width: 1200px;
  margin: 3.75rem auto;
  gap: 2.5rem;
  padding: 0 1.25rem;
  }

.Curriculum .text {
  flex: 1;
  position: relative;
  padding-left: 1.875rem;
  border-left: 3px solid #8A226F;
  max-width: 75%; 
}
.Curriculum h1 {
  font-size: 2.25rem;
  margin-bottom: 1.875rem;
  color: #1a1a1a;
  font-weight: 900;
}

.Curriculum h2 {
  font-size: 1.5rem;
  color: #8A226F;
  font-weight: 700;
  margin-top: 2.5rem;
  margin-bottom: 0.9375rem;
  }
  

.Curriculum h3 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}

.Curriculum p {
  margin-bottom: 0.9375rem;
  font-size: 1rem;
}

/* Timeline entries */
.entry {
  position: relative;
  margin-bottom: 2.5rem;
}

.circle {
  width: 0.875rem;
  height: 0.875rem;
  background-color: #8A226F;
  border-radius: 50%;
  position: absolute;
  left: -2.3125rem;
  top: 0.2rem;
}

.hero-img {
@media (max-width: 768px) {
  .hero-img {
    flex-shrink: 1; /* permette di ridursi */
}
}
}

.hero-img img {
  width: 100%;
  max-width: 18.125rem;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Lingue {
  background-color: #f9e9f3;
  padding:  1.875rem;
  margin: 3.75rem auto;
  max-width: 62.5rem;
  border-radius: 1.25rem;
  font-size: 1.125rem;
}

.Lingue h2 {
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1.875rem;
  background-color: #f9e9f3;
  font-size: 0.875rem;
}