/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Lato';
  background-color: #fff;
  color: #1a1a1a;
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #FFE6F9;
  display: flex;
  justify-content: space-around;
}

.navbar nav {
  display: flex;
  justify-content:flex-end;
  padding: 30px 60px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

.navbar ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #1a1a1a;
}

/* Hero */
.hero {
  padding: 40px 60px;
  background-color: #FFE6F9;
  display: flex;
  justify-content:flex-start ;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-text {
  flex: 1;
  padding-right: 40px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero-text h1 span {
  font-weight: 800;
  color: #2b2346;
}

.hero-text p {
  margin-bottom: 15px;
  max-width: 600px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.btn.purple {
  background-color: #8A226F;
  color: white;
}

.btn.outline {
  background-color: #2b2346;
  color: white;
}

.btn:hover {
  background-color: #5b5b5b;
}

/* Image */
.hero-img img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* About */
.about {
  max-width: 900px;
  margin: 60px auto;
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.05);
}

.about h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Contact */
.contact {
  text-align: center;
  padding: 60px 20px;
}

.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 30px;
}

.contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact input {
  width: 300px;
  padding: 12px 20px;
  border-radius: 25px;
  border: none;
  background-color: #eaeaea;
  font-size: 16px;
}

.contact button {
  background-color: #2b2346;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.contact button:hover {
  background-color: #5b5b5b;
}

/* Footer */
footer {
  text-align: center;
  padding: 30px;
  background-color: #f9e9f3;
  font-size: 14px;
}
